/*
 * 各ページ用 css
 */

@charset "UTF-8";

/*TOP画面 contentデザイン*/
.row a:hover{                 /* h:commandLink、aタグの下線・色変更阻止 */
    color: white;
    text-decoration: none;
}

div #space1{                /* 1行目 画面幅調整用 */
    margin: 0 12px;
}

div #space2{                /* 2行目 画面幅調整用 */
    margin: 0 12px;
}

div .col-lg-3 .button1 {                   /* 貸出・返却処理ボタン */
    position: relative;
    display: inline-block;
    background-image:-webkit-linear-gradient(top,#89c997 0,#89c997 100%);
    background-image:-o-linear-gradient(top,#89c997 0,#89c997 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#89c997));
    background-repeat:repeat-x;
    border-color:#89c997;             /* 緑系 */
    border-bottom: solid 3px #69b076; /*少し濃い目の緑系色に 影用*/
    border-radius: 4px;               /*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    color: #fff;
    height: 300px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    font-weight: bolder;
    letter-spacing: 5px;
    padding: 0.25em 0.5em;
    margin-bottom: 10px;
    outline: none;
}

div .button1 span{                 /* 貸出・返却処理ボタン アイコン 調整用 */
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 80px;
}

div .col-lg-1 .button2 {                                 /* レジ〆・金庫収納ボタン */
    position: relative;
    display: inline-block;
    background-image:-webkit-linear-gradient(top,#84b9cb 0,#84b9cb 100%);
    background-image:-o-linear-gradient(top,#84b9cb 0,#84b9cb 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#84b9cb));
    background-repeat:repeat-x;
    border-color:#84b9cb;             /* 青系 */
    border-bottom: solid 3px #719bad; /*少し濃い目の青系色に 影用*/
    border-radius: 4px;               /*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    color: #fff;
    height: 150px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    font-weight: bolder;
    letter-spacing: 5px;
    outline: none;
}
div .button2 span{                 /* レジ〆・金庫収納ボタン アイコン 調整用 */
    font-size: 45px;
    margin-top: 30px;
}

div #extend{                      /* レジ〆ボタン　width調整用 */
    width: 170px;
}

div #extend2{                      /* 金庫収納ボタン　width調整用 */
    width: 170px;
}

div .col-lg-3 .logout {                                     /* ログアウトボタン */
    position: relative;
    display: inline-block;
    background-image:-webkit-linear-gradient(top,#84b9cb 0,#84b9cb 100%);
    background-image:-o-linear-gradient(top,#84b9cb 0,#84b9cb 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#84b9cb));
    background-repeat:repeat-x;
    border-color:#84b9cb;             /* 青系 */
    border-bottom: solid 3px #719bad; /*少し濃い目の青系色に 影用*/
    border-radius: 4px;               /*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    color: #fff;
    height: 130px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
    padding: 0.25em 0.5em;
    margin-top: 20px;
    outline: none;
}

div .logout span{          /* ログアウトボタン アイコン 調整用 */
    font-size: 30px;
    margin-top: 30px;
}

div .return_delay_main{                 /* 返却メイン画面div調整用 */
    width: 450px;
    height: 0px;
    top: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    padding: 0px 20px 0px;
}

.return_delay_main table{
    line-height: 65px;
}


div .return_delay_button{                 /* 返却メイン画面ボタン調整用 */
    width: 250px;
    height: 0px;
    top: 900px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    text-align: center;
}

.return_input_delay{                     /* 返却延滞金清算画面inputtext調整用 */
    display:block;
    width:148px;
    height:34px;
    font-size: 100%;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-align: center;
    display: inline-block;
}

.return_main_num{               /* 返却メイン画面番号調整 */
    width: 60px;
}

.return_main_name{               /* 返却メイン画面商品名調整 */
    width: 540px;
}

.return_main_date{               /* 返却メイン画面貸出年月日・返却予定日調整 */
    width: 200px;
}

.return_main_delay{               /* 返却メイン画面延滞金調整 */
    width: 150px;
}

.return_update_button{               /* 返却メイン画面ボタン調整 */
    text-align: right;
}

thead, tbody {          /* 返却メイン画面ヘッダー調整 */
  display: block;
}

.return_main{              /* 返却メイン画面フォントサイズ調整 */
    font-size: 120%;
}

div .return_main tbody{    /* 返却メイン画面スクロール調整 */
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
}

.return_main_delete{               /* 返却メイン画面削除ボタン調整 */
    width: 100px;
}

.return_delay_display{               /* 返却延滞金清算画面調整 */
    font-size: 180%;
    line-height:50px;
    padding-bottom: 100px
}



.return_output_money{                     /* 返却延滞金清算画面outputtext調整用 */
    text-align: center;
}

.return_output_delay{                     /* 返却延滞金清算画面outputtext調整用 */
    display:block;
    width:148px;
    height:34px;
    font-size: 100%;
    line-height:1.42857143;
    text-align: center;
    display: inline-block;
}

.return_list_adjust{               /*  */
    width: 125px;
}

.return_pay_off_main{               /*  */
    display: table-cell;
    width: 1366px;
    height: 500px;
    vertical-align: middle;
    text-align: center;
}

.return_pay_off_main p{               /*  */
    display: inline-block;
    text-align: center;
    font-size: 250%;
}

.return_pay_off_pass_button{               /*  */
    position: fixed;
    margin-left: 973px;
    margin-top: -32px;
}

.return_pay_off_miss_button{               /*  */
    position: fixed;
    margin-left: 1174px;
    margin-top: -32px;
}

.rental_main{              /* 返却メイン画面フォントサイズ調整 */
    font-size: 120%;
}

div .rental_main tbody{    /* 返却メイン画面スクロール調整 */
  overflow-x: hidden;
  overflow-y: scroll;
  height: 260px;
}

.rental_main_num{               /* 貸出メイン画面調整 */
    width: 60px;
}

.rental_main_name{               /* 貸出メイン画面調整 */
    width: 650px;
}

.rental_main_kbn{               /* 貸出メイン画面調整 */
    width: 140px;
}

.rental_main_stay{               /* 貸出メイン画面調整 */
    width: 180px;
}

.rental_main_discount{               /* 貸出メイン画面調整 */
    width: 100px;
}

.rental_main_delete{               /* 貸出メイン画面調整 */
    width: 120px;
}

div .rental_payment_main{                 /*  */
    width: 400px;
    height: 0px;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    padding: 0px 20px 0px;
}

.rental_payment_main table{
    text-align: left;
    line-height: 40px;
}

.return_pay_off_pass_button{               /*  */
    position: fixed;
    margin-left: 994px;
    margin-top: -32px;
}